.navbar {
    color: white;
}

.members {
  color: black;
  background-color: rgb(255, 255, 255);
  margin: auto;
  justify-content: center;
  width: 90%;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0px 0px 10px 10px;
  
}
.members h2 {
  padding-top: 1vw;
}
.members img {
    width: 100%;
    background-size: contain;
    margin: auto;
    height: 8vw;
    width: 8vw;
    padding-right: 0.5vw;
    border-radius: 100px;
  }

  .members ul {
    margin: auto;
    width: 90%;
    padding: 0vw;
  }

  .members .person {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0.3vw;
    color: black;
    padding-bottom: 2.2vw;
    justify-content: left;
    line-height: 20px;
    width: 240px;
  }



  .members{
    margin-left: 0vw;
    justify-content: left;
  }

  .desc {
    background-color: white;
    color: black;
    width: 90%;
    margin: auto;
    padding: 1vw 0;
  }

  .desc p {
    margin: 1vw;
  }

  .portfolio {
      background-color: #fff;
      border: 1px solid #d5d9d9;
      border-radius: 8px;
      box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
      box-sizing: border-box;
      color: #0f1111;
      cursor: pointer;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      padding: 0.2vw 1vw;
    }
    
    .portfolio:hover {
      background-color: #f7fafa;
    }
    
    .portfolio:focus {
      border-color: #008296;
      box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
      outline: 0;
    }
  
