.navbar {
    color: white;
    width: 18vw;
    position:fixed;
}

@media only screen and (max-width: 800px) {
  .navbar {
    display: none;
  }

  .mobile--members {
    margin: 5vw 5vw;
    background-color: white;
    color: black;
    border-radius: 10px 10px 0px 0px;
    font-size: 12px;

  }
  .mobile--members img
  {
    width: 100%;
    background-size: contain;
    margin: auto;
    padding: 1vw;
    border-radius: 100px;

  }

  .mobile--members .person {
    display: grid;
    grid-template-columns: 20% auto;
  }

  .mobile--members p {
    justify-content: right;
    text-align: right;

  }

  .mobile--members .person .description {
    justify-content: auto;;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .mobile--members button {
    position: relative;
    bottom: 20px;
  }
}

.navbar {
  color: black;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0px 0px 10px 10px;
  
}
.navbar h2 {
  padding-top: 1vw;
}
.navbar img {
    background-size: contain;
    margin: auto;
    height: 5vw;
    width: 5vw;
    border-radius: 100px;
  }

  .navbar ul {
    margin: auto;
    width: 90%;
    padding: 0vw;
  }

  .navbar .person {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0.3vw;
    color: black;
    padding-bottom: 2.2vw;
    justify-content: left;
    line-height: 20px;
  }




  .desc {
    background-color: white;
    color: black;
    width: 90%;
    margin: auto;
    padding: 1vw 0;
  }

  .desc p {
    margin: 1vw;
  }

  .portfolio {
      background-color: #fff;
      border: 1px solid #d5d9d9;
      border-radius: 8px;
      box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
      box-sizing: border-box;
      color: #0f1111;
      cursor: pointer;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      padding: 0.2vw 1vw;
    }
    
    .portfolio:hover {
      background-color: #f7fafa;
    }
    
    .portfolio:focus {
      border-color: #008296;
      box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
      outline: 0;
    }
  

    