#root {
  padding: 0 5rem;
  text-align: center;
  background-size: cover;
  background-image: url("https://img.freepik.com/premium-photo/blue-light-gradient-background-smooth-blue-blurred-abstract_548821-32801.jpg");
}

@media only screen and (max-width: 800px) {
  #root {
    padding: 0 1rem;
    ;
  }
}

.header {
  background-color: rgba(0, 0, 0, 0.281);
  color: white;
  margin: 0;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0px 0px 10px 10px;
}

.desc {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius:10px 10px 0 0;
}
.header h1 {
  margin: 0;
  padding: 0;
}

.header h2 {
  font-weight: 1;
}

.title {
  width: 100%;
  text-align: center;
}

.main {
  width: 100%;
  display: grid;
  gap: 5%;
  grid-template-columns: auto auto;
}

@media only screen and (max-width: 800px) {
  .main {
    grid-template-columns: auto;
    ;
  }

  .post {
    padding-bottom: 1px;
  }
}
.post {
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;

}

.content h1 {
  font-size: 30px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.right {
  padding-left: 25vw;
}

@media only screen and (max-width: 800px) {
  .right {
    padding: 0;
    
  }
}

h3 {
  font-weight: 100;
  padding: 0;
  margin: 0;
}
.content {
  padding: 2vw;
  margin: 5vw;
}

.post p {
  text-align: justify;
  margin-top: 5vw;
}

.post .title {
  display: grid;
  grid-template-columns: auto;
  margin: 0;
}

.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 15vw;
  padding: 0.5vw;
  margin: 2vw;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}